<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Tyler Rockwood's Personal Website">
    <meta name="author" content="Tyler Rockwood">
    <link rel="icon" href="assets/img/favicon.ico">

    <title>Tyler Rockwood's Website</title>
    <!-- Huge thanks to blacktie.co for providing the free base template of this website -->

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="assets/css/ionicons.min.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="assets/js/ie10-viewport-bug-workaround.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div id="h">
      <div class="logo">
        <img src="assets/img/logo.png">
      </div><!--/logo-->
      <div class="container centered">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h1>Hello, my name is <b>Tyler Rockwood</b>.<br/>I love God.</h1>
          </div>
        </div><!--/row-->

        <div class="row mt">
          <div class="col-sm-4">
            <i class="ion-social-android"></i>
            <h3>Android</h3>
          </div><!--/col-md-4-->

          <div class="col-sm-4">
            <i class="ion-social-apple"></i>
            <h3>iOS</h3>
          </div><!--/col-md-4-->

          <div class="col-sm-4">
            <i class="ion-social-chrome"></i>
            <h3>Web</h3>
          </div><!--/col-md-4-->

        </div><!--/row-->
      </div><!--/container-->
    </div><!--H-->

    <div class="container ptb">
      <div class="row">
        <h2 class="centered mb">Student &amp; avid enthusiast of <br/> the web and mobile technologies.</h2>
        <div class="col-md-6">
          <p>I am a Computer Science and Software Engineering student, who is very interested in web development. I have experience in numerous languages and frameworks, and I am always looking to learn about technologies.</p>
        </div><!--/col-md-6-->
        <div class="col-md-6">
          <p>Recently I've been learning a great deal about mobile app development. I've created both iOS and Android Apps, and love the ability to have this platform to impact people's lives on.</p>
        </div><!--/col-md-6-->
      </div><!--/row-->
    </div><!-- /.container -->
{#    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <img src="assets/img/items.png" class="img-responsive" alt="">
        </div>
      </div><!--/row-->
    </div><!--/.container--> #}

    <div id="g">
      <div class="container">
        <div class="row centered">
          <h2>Check some of my latest works.</h2>
          <div class="col-md-8 col-md-offset-2">
            <p>View my past projects below, or go check out my <a href="https://github.com/rockwotj">GitHub</a> account.</p>

          </div><!--/col-md-8-->
        </div><!--/row-->
      </div><!--/.container-->
    <div class="portfolio-centered mt">
      <div class="recentitems portfolio">
        {% for item in portfolio %}
          <div class="portfolio-item">
            <div class="he-wrap tpl6">
            <img src="assets/img/portfolio/{{ item.image }}" class="img-responsive" alt="">
              <div class="he-view">
                <div class="bg a0" data-animate="fadeIn">
                  <h3 class="a1" data-animate="fadeInDown">{{ item.title }}</h3>
                  <a data-rel="prettyPhoto" href="assets/img/portfolio/{{ item.image }}" class="dmbutton a2" data-animate="fadeInUp"><i class="ion-search"></i></a>
                  <a href="{% if item.link %}{{item.link}}" target="_blank{% else %}/projects/{{ item.key.urlsafe() }}{% endif %}" class="dmbutton a2" data-animate="fadeInUp"><i class="ion-link"></i></a>
                 </div><!-- he bg -->
              </div><!-- he view -->
            </div><!-- he wrap -->
          </div><!-- end col-12 -->
        {% endfor %}
{#
        <div class="portfolio-item">
          <div class="he-wrap tpl6">
          <img src="assets/img/portfolio/fiji.jpg" class="img-responsive" alt="">
            <div class="he-view">
              <div class="bg a0" data-animate="fadeIn">
                <h3 class="a1" data-animate="fadeInDown">FIJI 5K Run/Walk</h3>
                <a data-rel="prettyPhoto" href="assets/img/portfolio/fiji.jpg" class="dmbutton a2" data-animate="fadeInUp"><i class="ion-search"></i></a>
                <a href="projects/1" class="dmbutton a2" data-animate="fadeInUp"><i class="ion-link"></i></a>
              </div>
            </div>
          </div>
        </div>
#}
       </div><!-- portfolio -->
    </div><!-- portfolio container -->

    <div class="container mt">
        <div class="row clients centered">
          <p class="mb">Some companies that I had the pleasure of working for.</p>
          <div class="col-sm-5 col-sm-offset-1">
            <img src="/assets/img/rockwellcollins.png" alt="Rockwell Collins">
          </div>
          <div class="col-sm-5">
            <img src="/assets/img/groupon.svg" alt="Groupon">
          </div>
        </div><!--/row-->
      </div><!--/container-->
    </div><!--/.G-->

    <div id="sep">
      <div class="container">
        <div class="row centered">
          <div class="col-md-8 col-md-offset-2">
            <h1>I go to school at Rose-Hulman</h1>
            <h3 class="mb">One of the best engineering<br/>institutes in the country.</h3>
            <a href="http://www.rose-hulman.edu/"><button class="btn btn-conf btn-clear">Rose-Hulman Website</button></a>
          </div>
        </div><!--/row-->
      </div><!--/container-->
    </div><!--/.sep-->

    <div id="f">
      <div class="container">
        <div class="row centered">
          <div class="col-md-8 col-md-offset-2">
            <a href="https://www.facebook.com/tyler.rockwood"><i class="ion-social-facebook"></i></a>
            <a href="https://github.com/rockwotj"><i class="ion-social-github"></i></a>
            <a href="https://plus.google.com/101055921185378112684/posts/p/pub"><i class="ion-social-googleplus"></i></a>
          </div><!--/col-md-8-->
        </div>
      </div><!--/container-->
    </div><!--/.F-->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/retina-1.1.0.js"></script>
    <script src="assets/js/jquery.hoverdir.js"></script>
    <script src="assets/js/jquery.hoverex.min.js"></script>
    <script src="assets/js/jquery.prettyPhoto.js"></script>
    <script src="assets/js/jquery.isotope.min.js"></script>
    <script src="assets/js/custom.js"></script>


    <script>
// Portfolio
(function($) {
  "use strict";
  var $container = $('.portfolio'),
    $items = $container.find('.portfolio-item'),
    portfolioLayout = 'fitRows';

    if( $container.hasClass('portfolio-centered') ) {
      portfolioLayout = 'masonry';
    }

    $container.isotope({
      filter: '*',
      animationEngine: 'best-available',
      layoutMode: portfolioLayout,
      animationOptions: {
      duration: 750,
      easing: 'linear',
      queue: false
    },
    masonry: {
    }
    }, refreshWaypoints());

    function refreshWaypoints() {
      setTimeout(function() {
      }, 1000);
    }

    $('nav.portfolio-filter ul a').on('click', function() {
        var selector = $(this).attr('data-filter');
        $container.isotope({ filter: selector }, refreshWaypoints());
        $('nav.portfolio-filter ul a').removeClass('active');
        $(this).addClass('active');
        return false;
    });

    function getColumnNumber() {
      var winWidth = $(window).width(),
      columnNumber = 1;

      if (winWidth > 1200) {
        columnNumber = 5;
      } else if (winWidth > 950) {
        columnNumber = 4;
      } else if (winWidth > 600) {
        columnNumber = 3;
      } else if (winWidth > 400) {
        columnNumber = 2;
      } else if (winWidth > 250) {
        columnNumber = 1;
      }
        return columnNumber;
      }

      function setColumns() {
        var winWidth = $(window).width(),
        columnNumber = getColumnNumber(),
        itemWidth = Math.floor(winWidth / columnNumber);

        $container.find('.portfolio-item').each(function() {
          $(this).css( {
          width : itemWidth + 'px'
        });
      });
    }

    function setPortfolio() {
      setColumns();
      $container.isotope('reLayout');
    }

    $container.imagesLoaded(function () {
      setPortfolio();
    });

    $(window).on('resize', function () {
    setPortfolio();
  });
})(jQuery);
</script>
  </body>
</html>
